.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

src/constants/RestAPI.ts

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ssl file
C1E22F962221E407368FD219E7F4E495.txt


Dockerfile
