.legendary {
    background: #54DCF7 !important;
}

.legendary__sub {
    background: #8DFFDE !important;
}

.ancient {
    background: #E27DFD !important;
}

.ancient__sub {
    background: #FFE8FF !important;
}

.epic {
    background: #D5598D !important;
}

.epic__sub {
    background: #FFE4F4 !important;
}

.rare {
    background: #6EAFD9 !important;
}

.rare__sub {
    background: #CDF6FF !important;
}

.common {
    background: #BA987C !important;
}

.common__sub {
    background: #FFEACE !important;
}

.new__line {
    white-space: pre-line;
}

.img__big {
    width: 75px;
    height: 75px;
}

.img__middle {
    width: 65px;
    height: 65px;
}

.img__small {
    width: 50px;
    height: 50px;
}

.img__xs {
    width: 40px;
    height: 40px;
}

/*.cookie__border__big {*/
/*    border-radius: 15px;*/
/*}*/

/*.cookie__border__middle {*/
/*    border-radius: 13px;*/
/*}*/

/*.cookie__border__small {*/
/*    border-radius: 10px;*/
/*}*/

/*.cookie__border__xs {*/
/*    border-radius: 4px;*/
/*}*/

.active {
    background: #DADDE2 !important;
}

*[class^="img__"], *[class*=" img__"] {
    text-align: center;
}

*[class^="img__"] > img, *[class*=" img__"] > img {
    height: 100%;
}